@charset "utf-8";

.left_box .title{color:#fff; background:#333;}/* theme */

.content_top{background:#333;}/* theme */
.content_top .path > li a{color:rgba(255,255,255,0.7);}/* theme */
.content_top .path > li a:hover{color:rgba(255,255,255,1);}/* theme */
.search_condition th{background: rgba(51,51,51,0.1);}
.table_row th{background: rgba(51,51,51,0.1);}

/* jq grid */
.ui-widget-header {background: #333; color: #fff;} /* 팝업창 header */
.ui-widget-content .ui-state-default{background: rgba(51,51,51,0.1);}/* table column title */
.ui-state-active, .ui-widget-content .ui-state-active{border:0;  background: #333;  color: #ffffff;} /* 조회중 */