BODY {FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: ±¼¸²,±¼¸²Ã¼,µ¸À½, arial, serif, sans-serif; TEXT-ALIGN: left; FONT-VARIANT: normal
}

A:link {COLOR: #ffffff; TEXT-DECORATION: none}
A:visited {COLOR: #ffffff; TEXT-DECORATION: none}
A:hover {font-size: 13px; COLOR: #ffffff; TEXT-DECORATION: none}
A:active {COLOR: #ffffff; TEXT-DECORATION: none}


A.left1:link {COLOR: #000000; TEXT-DECORATION: none}
A.left1:visited {COLOR: #000000; TEXT-DECORATION: none}
A.left1:hover {font-size: 13px; COLOR: #000000; TEXT-DECORATION: none}
A.left1:active {COLOR: #000000; TEXT-DECORATION: none}

A.left2:link {COLOR: #000000; TEXT-DECORATION: none}
A.left2:visited {COLOR: #000000; TEXT-DECORATION: none}
A.left2:hover {font-size: 12px; COLOR: #0195AA; TEXT-DECORATION: none}
A.left2:active {COLOR: #000000; TEXT-DECORATION: none}

A.left3:link {COLOR: #5C5C5C; TEXT-DECORATION: none}
A.left3:visited {COLOR: #5C5C5C; TEXT-DECORATION: none}
A.left3:hover {font-size: 13px; COLOR: #5C5C5C; TEXT-DECORATION: none}
A.left3:active {COLOR: #5C5C5C; TEXT-DECORATION: none}


.title { color: #000000; text-decoration: none; font-weight: bold; font-size: 14px; vertical-align: baseline}
.td_title {  line-height: 22px; color: #FFFFFF; text-decoration: none; text-align: center; font-weight: bold; background-color: 65AFD5; font-size: 12px}
.td_title2 { line-height: 16px; color: #000000; text-decoration: none; background-color: CCEAFA; text-indent: 2pt; font-size: 12px}
.td_title3 { line-height: 16px; color: #000000; text-decoration: none; background-color: CCEAFA; text-align: center; font-size: 12px}
.td_title4 { line-height: 16px; color: #000000; text-decoration: none; background-color: CCEAFA; font-size: 12px ; text-indent: 20pt; text-align: right}
.td_title5 { line-height: 16px; color: #666666; text-decoration: none; background-color: ECF7FD; font-size: 12px ; font-weight: bold}
.td_title5_1 { line-height: 16px; color: #666666; text-decoration: none; font-size: 12px ; font-weight: bold ; text-indent: 2px}
.td_title5_2 { line-height: 16px; color: #666666; text-decoration: none; font-size: 12px ; text-indent: 20px}
.td_title5 { line-height: 16px; color: #000000; text-decoration: none; background-color: CCEAFA; text-align: center; font-size: 12px }
.td_title6 { line-height: 16px; color: #FFFFFF; text-decoration: none; background-color: #65AFD5; font-size: 12px ; text-indent: 5pt; font-weight: bold}
.title_text { line-height: 22px; color: #666666; text-decoration: none; font-weight: bold; font-size: 12px}


.td_brbox { color: #66666; text-decoration: none; font-weight: normal; clip:  rect(   ); width: 180px; height: 14px; background-color: #F7F7F7; font-size: 12px; border: 1px #E6E5E5 dotted}
.td_brbox1 { color: #666666; text-decoration: none; font-weight: normal; border: 1px solid; clip:   rect(   ); border-color: #333333 #666666; font-size: 12px; height: 14px; width: 180px; vertical-align: middle}
.td_brbox2 { color: #666666; text-decoration: none; font-weight: normal; border: 1px solid; clip: rect( ); border-color: #333333 #666666; font-size: 12px; height: 14px; width: 300px}

.td_text { line-height: 18px; color: #666666; text-decoration: none; text-align: center; font-weight: normal; background-color: FAFAFA; font-size: 12px }
.td_text1 { font-size: 12px; line-height: 18px; color: #666666; text-decoration: none; font-weight: normal; background-color: FAFAFA ; text-indent: 2px }
.td_text2 { font-size: 12px; line-height: 18px; color: #666666; text-decoration: none; font-weight: normal; background-color: FAFAFA }
.td_text3 { font-size: 12px; line-height: 18px; color: #666666; text-decoration: none; font-weight: normal; text-indent: 2px }
.td_text4 { line-height: 18px; color: #666666; text-decoration: none; text-align: center; font-size: 12px }

.td_id { font-size: 12px; color: #FFFFFF; text-decoration: none; font-weight: bold; line-height: 27px; text-indent: 20px}
.td_idbox { font-size: 12px; color: #000000; text-decoration: none; border: 1px #777777 solid; height: 20px; width: 160px; vertical-align: middle}
.m_text { color: #FFFFFF; text-decoration: none; font-weight: bold; font-size: 12px ; line-height: 16px; text-align: center}
.td_text5 { line-height: 14px; color: #666666; text-decoration: none; font-weight: bold; font-size: 12px }
.left1 { line-height: 18px; color: #000000; text-decoration: none; font-size: 12px; ; font-weight: bold; text-indent: 3px}
.left2 { color: #000000; text-decoration: none; font-size: 12px; }
.left3 { line-height: 18px; color: #6C6C6C; text-decoration: none; font-size: 12px; }
.sitemap_bg { text-decoration: none; background-color: #D1E9FF; clip:  rect(   ); height: 30px}
.sitemap_bg1 { text-decoration: none; background-color: #EDF6FF; clip: rect( )}
.sitemap_text1 { line-height: 18px; color: #000000; text-decoration: none; font-weight: bold; font-size: 12px ; background-color: #EDF6FF}
.sitemap_text2 { line-height: 18px; color: #000000; text-decoration: none; font-weight: normal; font-size: 12px ; background-color: #EDF6FF }
.sitemap_text3 { line-height: 18px; color: #666666; text-decoration: none; font-weight: normal; font-size: 11.7px; background-color: #EDF6FF }
